/* Nav Bar */

.navbar {
}

.img.image_nav {
  height: 60px;
  width: 200px;
  margin-top: 1%;
  margin-bottom: 1%;
}

#navbarNav {
  display: flex;
  justify-content: flex-end;
}

.navbar-toggler {
  background-color: white;
}

.nav-link {
  color: rgb(90, 85, 85) !important;
  font-weight: bold;
}
/* Carousel */

.img-fluid {
  max-width: 100%;
  height: auto;
}

/*
Forces carousel image to be 100% width and not max width of 100%
*/
.carousel-item .img-fluid {
width:100%;
height:100%;
}

/* Slider */

/* First Slider */


.button1 {
border-radius: 4px;
background-color: rgb(70, 70, 70);
border: none;
color:white;
text-align: center;
font-size: 28px;
padding: 5px;
width: 150px;
transition: all 0.5s;
cursor: pointer;
margin: 5px;
opacity: 0.7;
}

.button1 span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

.button1 span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

.button1:hover span {
padding-right: 25px;
}

.button1:hover span:after {
opacity: 1;
right: 0;
}

/* Second Slider */
.button7 {
border-radius: 4px;
background-color: rgb(70, 70, 70);
border: none;
color:white;
text-align: left;
font-size: 23px;
padding: 15px;
width: 300px;
transition: all 0.5s;
cursor: pointer;
margin: 5px;
opacity: 0.7;
}

.button7 span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

.button7 span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

.button7:hover span {
padding-right: 25px;
}

.button7:hover span:after {
opacity: 1;
right: 0;
}

/* Third Slider */
.button8 {
border-radius: 4px;
background-color: rgb(70, 70, 70);
border: none;
color:white;
text-align: left;
font-size: 28px;
padding: 9px;
width: 160px;
transition: all 0.5s;
cursor: pointer;
margin: 5px;
opacity: 0.7;
}

.button8 span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

.button8 span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

.button8:hover span {
padding-right: 25px;
}

.button8:hover span:after {
opacity: 1;
right: 0;
}


/* Jumbotron */
.jumbotron{
position: relative;
z-index:-2;
}

#video-background { 
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
overflow: hidden;
z-index: -1;
width:100%;
height:800px;
}
.titlevid {
color:rgb(10, 10, 10);
font-size: 70px;

}

/* Table */
* {
box-sizing: border-box;
}

.columns {
float: left;
width: 33.3%;
padding: 8px;
}

.price {
list-style-type: none;
border: 1px solid #eee;
margin: 0;
padding: 0;
-webkit-transition: 0.3s;
transition: 0.3s;
}

.price:hover {
box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .header {
background-color: rgb(95, 95, 95);
color: white;
font-size: 25px;
}

.price li {
border-bottom: 1px solid #eee;
padding: 20px;
text-align: center;
}

.price .grey {
background-color: #eee;
font-size: 20px;
}

.button5 {
background-color: rgb(51, 51, 51);
border: none;
color: white;
padding: 10px 25px;
text-align: center;
text-decoration: none;
font-size: 18px;
}

@media only screen and (max-width: 600px) {
.columns {
    width: 100%;
}
}
/*First API */
.inputFirstApi {
  background-color: white;
  width: 42%;
  position: relative;
  height: 15%;
}

.searchItems {
   display: inline-block;
}

#textinform {
   min-width: 150px;
   font-size: 16px;
   padding: 5px;
   background-color: transparent;
   color: black;
   opacity: 0.8;
   text-align: left;
   margin: 10px 20px;
}

.firstAPI {
   position: relative;
}

#artists, #noOfSongs {
   width: 250px;
   margin-left: 20px;
   font-size: 14px;
}

#submitButton {
   margin-left: 20px;
   height: 31px;
   padding-top: 4px;
   padding-bottom: 4px;
   font-size: 14px;
   font-weight: bold;
   background-color:rgb(0,123,255);
   border-color: rgb(0,123,255);
}

#table {
   position: absolute;
   margin-left: 20px;
   font-size: 12px;
   margin-top: 20px;
}

/*footer*/
#footer {
  margin-top: 2%;
  background-color: black;
  padding-top: 2%;
  position: relative;
}

h5{
  color: white;
  text-align: center;
  margin-bottom: 10px;
}

h6 {
  color: white;
  text-align: center;
}

/* #boss {
display: inline-block;
left: 2%;
position: relative;
}
#developers {
  display: inline-block;
  position: absolute;
  right: 32.5%;
  top: 2.5%;
  column-span: 2,3,4,5;
  color: white;
} */
