/* Nav Bar */

.navbar {
}

.img.image_nav {
  height: 60px;
  width: 200px;
  margin-top: 1%;
  margin-bottom: 1%;
}

#navbarNav {
  display: flex;
  justify-content: flex-end;
}

.navbar-toggler {
  background-color: white;
}

.nav-link {
  color: rgb(90, 85, 85) !important;
  font-weight: bold;
}
/* Carousel */

.img-fluid {
    max-width: 100%;
    height: auto;
}

/*
Forces carousel image to be 100% width and not max width of 100%
*/
.carousel-item .img-fluid {
  width:100%;
  height:100%;
}

/* Slider */

.carousel-caption h4 {
  font-size: 13px;
}

/* Jumbotron */

.jumbotron {
  background-color: white;
}

.display-4 {
  display: flex;
  justify-content: center;
}

.lead {
  display: flex;
  justify-content: center;
}

.subtitle_jumbo {
  display: flex;
  justify-content: center;
}

/*First API */
.inputFirstApi {
  background-color: white;
  width: 42%;
  position: relative;
  height: 15%;
}

.searchItems {
   display: inline-block;
}

#textinform {
   min-width: 150px;
   font-size: 16px;
   padding: 5px;
   background-color: transparent;
   color: black;
   opacity: 0.8;
   text-align: left;
   margin: 10px 20px;
}

.firstAPI {
   position: relative;
}

#artists, #noOfSongs {
   width: 250px;
   margin-left: 20px;
   font-size: 14px;
}

#submitButton {
   margin-left: 20px;
   height: 31px;
   padding-top: 4px;
   padding-bottom: 4px;
   font-size: 14px;
   font-weight: bold;
   background-color:rgb(0,123,255);
   border-color: rgb(0,123,255);
}

#table {
   position: absolute;
   margin-left: 20px;
   font-size: 12px;
   margin-top: 20px;
}

/*footer*/
#footer {
  margin-top: 2%;
  background-color: black;
  padding-top: 2%;
  position: relative;
}

h5{
  color: white;
  text-align: center;
  margin-bottom: 10px;
}

h6 {
  color: white;
  text-align: center;
}

/* #boss {
display: inline-block;
left: 2%;
position: relative;
}
#developers {
  display: inline-block;
  position: absolute;
  right: 32.5%;
  top: 2.5%;
  column-span: 2,3,4,5;
  color: white;
} */
