/* Nav Bar */

.navbar {
  font-family: Poppins, Palatino, serif;}


.img.image_nav {
  height: 60px;
  width: 200px;
  margin-top: 1%;
  margin-bottom: 1%;
}

#navbarNav {
  display: flex;
  justify-content: flex-end;
}

.navbar-toggler {
  background-color: white;
}

.nav-link {
  color: rgb(90, 85, 85) !important;
  font-weight: bold;
}


body, html {
    height: 100%;
    font-family: Poppins, Palatino, serif;}
}

.bg {
    /* The image used */
    /* background-image: url("https://support.apple.com/library/content/dam/edam/applecare/images/nl_NL/mac_apps/itunes/macos-itunes12-5-itunes-match-hero.jpg"); */
    background-image: linear-gradient(rgb(240, 55, 165) -60%, rgb(250, 230, 45) 140%);

    /* Full height */
    height: fit-content;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
h1{
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 30px;
}

.member {
  margin-top: 4%;
}

.col-lg-6.linkedIn {
  margin-bottom: 6%;
}

.fab.fa-linkedin-in.fa-2x{
  color: grey;
}

.icon:hover {
box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

path{
  color: rgb(223, 223, 223);
}

/* Footer */
#footer {
font-family: Poppins, Palatino, serif;
max-width: 100%;
}

.card-header {
  height: 50px;
}

.card-footer .text-muted {
  display:flex;

}

.container.footer {
padding-top: 2%;
padding-bottom: 2%;
}

.row.footer {
justify-content: space-between;
}

.column.footer {
  height: 201px;
  width: 180px;
}

li{
margin-top: 10%;
text-align: left;
list-style-type:none;
}

li a{
  color: black;
}

a:any-link{
  color: black;
}
